<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Hero</title>
</head>
<body>
<!--navbar-->
<nav th:replace="partials/navbar :: navbar"></nav>
<!--banner-->
<div th:include="banner :: banner"></div>

<!--body-->
<div class="container">
    Hello World!
</div>


<!--foooter-->
<footer th:replace="partials/footer :: footer"></footer>
<section th:replace="partials/script_lib :: script_lib"></section>
</body>
</html>