<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="partials/head :: head">
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <h2>Welcome <span th:text="${name}"></span></h2>
</div>


<footer th:replace="partials/footer :: footer"></footer>
<section th:replace="partials/script_lib :: script_lib"></section>
</body>
</html>